@model ExpressVoitures.Models.Vehicule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeVIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeVIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modele.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finition.Nom)
        </dd>
        @if (User.IsInRole("Admin"))
        {
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAchat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAchat)
        </dd>
        
              <dt class="col-sm-2">
            Prix d'achat
        </dt>
            
        <dd class="col-sm-10">
            @Model.PrixAchat €
            </dd>
        

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateVente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateVente)
        </dd>
        }
        <dt class="col-sm-2">
              Prix de vente
        </dt>
        <dd class="col-sm-10">

          @Model.PrixVente €
          </dd>
       
        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <img src="@Model.ImagePath" class="img-fluid mb-3" />
        }

        <p><strong>Description :</strong></p>
        <p>@Model.Description</p>

        <p>
            <strong>Statut :</strong>
            @if (Model.EstVendu)
            {
                <span class="badge bg-danger">Vendu</span>
            }
            else
            {
                <span class="badge bg-success">Disponible</span>
            }
        </p>


    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.VehiculeId">Edit</a>
        <span> | </span>
    }
    <a asp-action="Index">Back to List</a>

</div>
